<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Insta Tour Paris 13</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Galerie photos de la tour Paris 13.">
  </head>
  <body>
    <div class="container">
      {{> page}}
    </div>
  </body>
</html>