<!DOCTYPE html>
<html ng-app="itp13" lang="fr">
  <head>
    <title>Insta Tour Paris 13</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Galerie photos de la tour Paris 13.">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <a class="navbar-brand" href="/">Insta Tour Paris 13</a>
    </nav>

    <div class="container">
      {{> page}}
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>